img.resize{
  max-height:30%; 
  max-width:30%;
  float: left;

}
html,body{
  height: 100%;
  color: white;
  background-color: #606060;

}

#image{
  padding-top: 5px;
  width:700px;
  height: 500px;
 
}
#abin{
  color: #E6E6FA;
  overflow: auto;
  font-size: 20px;
  text-align: center;
  width: 700px;
   font-family:Tahoma, Geneva, sans-serif;
}
#middle{

  width:100%;
  padding-top:100px;
  z-index:5; overflow:auto;
 
}
#nav{

	margin:0;
	padding:0;
	overflow: hidden;
	background-color:#E6E6FA;
	position: fixed;
  width:100%;
  top:0;
  display: inline-block;
  z-index:10;
  

}
#leftnav{
	float: left;
	font-size: 18px;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
	width: 30%;background-color: black;
  line-height: 30px; 
}
#rightnav{
	float:right;
	font-size: 18px;
  font-family:Tahoma, Geneva, sans-serif;
  width: 43%;

    }

#rightnav a{
	display: inline-block;
	color: black;
	text-align: center;
  padding: 13px 15px;
  text-decoration:none;
}
#rightnav a:hover:not(.active) {
  border-bottom: 3px solid #800000; 
  height: 30px;
  line-height:35px;
}
.active{
	
	height: 30px;
    line-height: 35px;
    border-bottom: 3px solid #800000; 
}

#mySidenav a {
  position: fixed;
  left: -80px;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
   border-bottom: 3px solid #800000; 
}

#books{
  top: 80px;
  background-color:#E6E6FA;
}

#blog {
  top: 140px;
  background-color:#E6E6FA;
}

#quotes {
  top: 200px;
  background-color:#E6E6FA;
}

#choice {
  top: 260px;
  background-color:#E6E6FA;
}
/*.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 90px;
	background-color:#E6E6FA;

}*/
